Imports

In [2]:
import sklearn as sk;
import pandas as pd;
from google.colab import files;

Data cleaning

In [6]:
# importing data into dataframes
try:
    churn_train = pd.read_csv("customer_churn_dataset-training-master.csv")
    churn_test = pd.read_csv("customer_churn_dataset-testing-master.csv")
except FileNotFoundError as e:
    files.upload()

In [29]:
churn_train.head()
gender = ["Female", "Male"]
Sub_type = ["Standard", "Basic"]
Con_len = ["Annual", "Monthly"]

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0

In [26]:
missing = churn_train.isnull().any().sum()
total = len(churn_train.index)
print(missing)
# print((missing / total)*100)
# 0.002% columns are null! There are 12 records that are empty.
# Because the missing data takes up a small portion of the training data I will be employing IterativeImputer as I can afford the computation overhead

12